.DS_Store
*.bin
*.hex

.vscode/settings.json

/*/Project/MDK5/Objects/
/*/Project/MDK5/Listings/
/*/Project/MDK5/out/
/*/Project/MDK5/tmp/
/*/Project/MDK5/.clangd
/*/Project/MDK5/*.uvguix.*
/*/Project/MDK5/*.cbuild-idx.yml
/*/Project/MDK5/*.cbuild-set.yml
/*/Project/MDK5/*.cbuild.yml
/*/Project/MDK5/*.cbuild-run.yml
/*/Project/Bootloader/Objects/
/*/Project/Bootloader/Listings/
/*/Project/Bootloader/out/
/*/Project/Bootloader/tmp/
/*/Project/Bootloader/.clangd
/*/Project/Bootloader/*.uvguix.*
/*/Project/Bootloader/*.cbuild-idx.yml
/*/Project/Bootloader/*.cbuild-set.yml
/*/Project/Bootloader/*.cbuild.yml
/*/Project/Bootloader/*.cbuild-run.yml
